body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.container {
  text-align: center;
}

.radioBtn {
  padding: 0.5rem;
}

.inputField {
  padding: 0.8rem;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: none;
  background: #b2b2b27b;
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.hidden {
  display: none !important;
}

.modal-box {
  width: 40vw;
  height: 30vh;
  padding: 20px;
  background-color: white;
  border: 1px solid #555;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
}